<div class="panel panel-flat">
	<div class="panel-heading">
		<h5 class="panel-title">REGISTER PACKAGE MEDIA PLAN</h5>
		<div class="heading-elements">
			<ul class="icons-list">
			    <li><a data-action="collapse"></a></li>
			    <li><a data-action="reload"></a></li>
			    <li><a data-action="close"></a></li>
			</ul>
		</div>
	</div>

    <div class="panel-body">
    	<form action="">
    		<div class="form-group">
    			<label for="">Digital</label>
    			<input type="text" class="form-control">
    		</div>

    		<div class="form-group">
    			<label for="">SUB REQ TYPE</label>
    			<input type="text" class="form-control">
    		</div>

    		<div class="form-group">
    			<label for="">PIC Name</label>
    			<div class="input-group">
    				<span class="input-group-addon">
    					<i class="fa fa-pencil"></i>
    				</span>
    				<select name="" id="" class="form-control"></select>
    			</div>
    		</div>

    		<div class="form-group">
    			<label for="">Brand</label>
    			<select name="" id="" class="form-control"></select>
    		</div>

    		<div class="form-group">
    			<label for="">Advertiser</label>
    			<div class="input-group">
    				<span class="input-group-addon">
    					<i class="fa fa-pencil"></i>
    				</span>
    				<select name="" id="" class="form-control"></select>
    			</div>
    		</div>

    		<div class="form-group">
    			<label for="">Agency</label>
    			<div class="input-group">
    				<span class="input-group-addon">
    					<i class="fa fa-pencil"></i>
    				</span>
					<select name="" id="" class="form-control"></select>
    			</div>
    		</div>

    		<div class="form-group">
    			<label for="">AM Name</label>
    			<div class="input-group">
    				<span class="input-group-addon">
    					<i class="fa fa-pencil"></i>
    				</span>
    				<select name="" id="" class="form-control"></select>
    			</div>
    		</div>

    		<div class="form-group">
    			<label for="">Nett</label>
    			<input type="text" class="form-control">
    		</div>

    		<div class="form-group">
    			<label for="">Start Periode</label>
    			<input type="text" class="form-control">
    		</div>

    		<div class="form-group">
    			<label for="">End Periode</label>
    			<input type="text" class="form-control">
    		</div>

    		<div class="form-group">
    			<label for="">Description</label>
    			<textarea name="" id="" cols="30" rows="10" class="form-control"></textarea>
    		</div>

    		<div class="form-group">
    			<label for="">Attachment</label>
    			<div class="input-group">
    				<input type="file" class="form-control">
    				<span class="input-group-addon">
    					<i class="fa fa-plus"></i>
    				</span>
    			</div>
    		</div>

    		<hr>
    		<div class="form-group">
    			<button class="btn btn-primary">Submit</button>
    			<input type="reset" class="btn btn-warning">
    		</div>
    	</form>
    </div>
</div>